.top-nav {
    background-color: beige;
    padding: 1px 5px 1px 30px;
    overflow: hidden;
  }
  
  #top-cta {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  
  li {
      float: right;
    
  }
  
  
  a {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding: 5px;
      text-decoration: none;
      margin: 8px 3px 3px 3px;
      background-color: beige;
      opacity: .75;
      color: black;
      border: 1px solid;
      font-size: 14px;
  }
  
  a:hover {
    background-color: #b06100;
  }
  
  .primary {
      padding: 5px 20px;
  }
    
  #background-img {
      width: 100%;
      height: 500px;
      overflow: hidden;
  }
  
  body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png");
        }
  
  #article-img1 {
      float: right;
      border: solid 1px #000;
  }
  
  #article-img2 {
      float: left;
      margin: 6px 10px 0px 0px;
      border: solid 1px #000;
  }

#logo {
    margin: 16px 0px 0px 0px;
}
  
.logo-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}  

header {
    font-family: 'Oswald', sans-serif;
    width: 80%;
    margin: 0 auto;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 3px 4px 0px 0px;
}


.blogpost-container {
    width: 77.5%;
    margin: 30px auto;
    background-color: #fff;
    padding: 2px 5px 0px 20px;
}

.beige-nav {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

.blog-header {
    background-image: url("https://www.worldvision.org.hk/en/images/data/default/B02_Relief_Africa-Hunger-Relief_topbanner.jpg");
    width: 100%;
    height: 400px;
    margin: 0 auto; 
}

#blog-title {
    padding: 100px 300px 0px 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    color: #fff;
    margin: 0;
}

#byline {
    padding: 0px 300px 0px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ce8731;
    margin: 0;
}

.postnav-container {
    width: 102.5%;
    margin: 0 auto;
    
}
.previous {
    display: inline-block;
    margin: -2px;
    padding: 0;
    width: 48%;
    height: 80px;
    background-color: rgb(196, 191, 191);
    text-align: center;
    font-size: 36px;
}

.next {
    display: inline-block;
    margin: -2px;
    padding: 0;
    width: 48%;
    height: 80px;
    background-color: rgb(196, 191, 191);
    text-align: center;
    font-size: 36px;
}